---
title: Home Philadelphia Couples Therapy
---


.row
	.c4.make_appointment
		p Is your marriage suffering?
		p Do you feel alone in your relationship?
		p Do what it takes to rebuild a lasting connection with your spouse.
		p Your relationship is worth it.
		br
		p 
			a.button.cus_green href="/make-appointment" MAKE AN APPOINTMENT

	.c4 

		p 
			img src="images/anna.jpg"

	.c4

		h4 Dr. Anna Hiatt Nicholaides, Psy.D.
		
		ul.about_anna
			li Licensed Clinical Psychologist
			li Specializes in couples therapy
			li B.A. in psychology from The University of Virginia
			li Doctorate of Psychology from Widener University’s Institute for Graduate Clinical Psychology
			li Specializes in Couples and Psychodynamic Therapy
			li Advanced training in Emotionally Focused Couple Therapy, a nationally acclaimed and extensively researched modality of couple treatment.

.clear

hr.paddingfix

.row.testimonials
	.c4

		p "Dr. Nicholaides is who I send couples to. She not only knows how to help couples live together peacefully, but she leads them to a new level of intimacy. When I refer people to her, I know they are in the hands of a warm and highly skilled practitioner."

		p.dark_green.testimonials_link  Ana M. Hagstrand, Psy.D. Licensed Clinical Psychologist

	.c4
		p "Anna has a real understanding of what it takes to turn a relationship from an unhappy, unsafe place into a haven of peace and trust. I trust her to take care of all the couples I send to her."

		p.dark_green.testimonials_link  Dr. Lelani Crane, Psy.D. Psychotherapist

	.c4
		p "It’s not easy to find a good couple specialist. They have to be personable and engaging, while also knowing how to adeptly help couples find a new level of connection. Dr. Nicholaides is compassionate, warm, and skilled. I trust that she works hard with the couples to help them communicate their needs and feelings, and learn to treat each other with the love and respect they each deserve."

		p.dark_green.testimonials_link  Dr. Alexandra Lam, Ph.D.

.spacer-bot
	| &nbsp;

